.todo--main__content {
    padding: 0, 20%;
    margin-top: 72px;
    min-height: 80vh
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .todo--main__content {
        padding: 0 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .todo--main__content {
        padding: 0 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .todo--main__content {
        padding: 0 30px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .todo--main__content {
        padding: 0 35px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .todo--main__content {
        padding: 0 15%;
    }
}